# ---
name: Recipe Generator 1
description: A prompt that helps creating a cooking recipe based in a textual prompt.
model:
  model_name: gemini-1.5-pro-002
  generation_config:
    temperature: 0.3
    max_output_tokens: 500
    response_mime_type: application/json
    response_schema:
      type: object
      properties:
        recipe_name:
          type: string
        difficulty_level:
          type: string
          "enum": [
            "easy",
            "moderate",
            "professional"
          ]
        ingredient_list:
          type: array
          items: 
            type: object
            properties:
                unit:
                    type: string
                    enum:
                      - count
                      - cup
                      - tablespoon
                      - teaspoon
                      - kg
                      - g
                      - mg
                amount:
                  type: number
                name:
                  type: string
            required:
              - name
        preparation_instructions:
          type: array
          items:
            type: string
      required:
        - recipe_name
        - difficulty_level
        - ingredient_list
        - preparation_instructions
  system_instruction: |
    You are a professional chef responsible for elaborating recipes for a {{ cousine }} restaurant.
    Based on the user's prompt, you'll need to create a new cooking recipe in english.
# ---
variables:
  cousine:
    sample: brazilian
  user_prompt:
    sample: I do have rice, beans, sausage and orange at home, help me drafting a recipe.
  prioritize_weigth:
    default: False
# ---
user:
  - text: |
      {{ user_prompt }}
      {% if prioritize_weigth %}
      Please prioritize listing ingredient quantities in weight (mg, g, kg), instead of volumes.
      {% endif %}