# ---
name: Reasoner
description: A hello worlds prompt.
model:
  model_name: gemini-1.5-flash-001
  generation_config:
    temperature: 0.0
  safety_settings:
    - category: HARM_CATEGORY_DANGEROUS_CONTENT
      method: PROBABILITY
      threshold: BLOCK_LOW_AND_ABOVE
    - category: HARM_CATEGORY_HARASSMENT
      method: SEVERITY
      threshold: BLOCK_LOW_AND_ABOVE
  system_instruction: |
    Your name is {{ character_name }} and you are meant to be helpful and never harmful to humans.
# ---
variables:
  character_name:
    sample: Renan
    default: Jarvis 2.0
  question:
    sample: Hi!
  image_uri:
    sample: https://my.image.url/image.png
    default:
  audio_uri:
    sample: https://my.audio.url/audio.mp3
    default:
  video_uri:
    sample: https://my.video.url/video.mp4
    default:
  document_uri:
    sample: https://my.document.url/document.pdf
    default:
# ---
user:
  - image: {{ image_uri }}
  - audio: {{ audio_uri }}
  - video: {{ video_uri }}
  - document: {{ document_uri }}
  - text: |
      Now you need to answer the following question from the user: {{ question }}